<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="UTF-8">
        <title>Dus's blog</title>
    </head>
    <body>
        <div>
            <h1>
                <h1> <a href=""> Welcome Dus's Blog</a></h1>
            </h1>
        </div>

        <div>
            <p>published : 21.01.20, 14:44</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam</p>
        </div>

        <div>
            <p>published : 21.01.20, 14:44</p>
            <h2><a href="">My second post</a></h2>
            <p> 한국말로 쓰면 적히는지 궁금하기도 하네</p>
        </div>
    </body>
</html>