<!DOCTYPE html>
<html lang="ko" data-dark="True" data-useragent="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36(KHTML,like Gecko) Chrome/87.0.4280.141 Safari/537.36">

    <head>
        <meta charset="UTF-8">
        <title>DUS's NAVER clone</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=1990">
        <meta name="apple-mobile-web-app-title" content="NAVER">
        <meta name="robots" content="index,nofollow">
        <meta name="description" content="Dus의 NAVER 메인에서 무엇이 다른지 맞춰보세요">
        <meta property = "og:title" content="Dus's Naver">
        <meta property="og:url" content="https://www.dusnaverclone.com/">
        <meta property="og:image" content="https://s.pstatic.net/static/www/mobile/edit/2016/0705/mobile_212852414260.png">
        <meta property="og:description" content="Dus의 NAVER 메인에서 무엇이 다른지 맞춰보세요">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content>
        <meta name="twitter:url" content="https://www.dusnaverclone.com/">
        <meta name="twitter:description" cotent="Dus의 NAVER 메인에서 무엇이 다른지 맞춰보세요">

    </head>
    <body>
        <div id="u_skip">
            <a href="#newsstand">
                <span>세종대학교</span>
            </a>
            <a href="#themecast">
                <strong>소프트웨어학과</strong>
            </a>

        </div>
        <div id="wrap">
            <div id="NM_TOP_BANNER" data-clk-prefix="top" class="_1hiMWemA" style="background-color: #f3f1ff;">
                <div class="tY_u8r23">
                    <a class="_3h-N8T9V" href="https://whale.naver.com/details/darkmode?=main&wpid=RydDy7" data-clk="dropbanner1a">
                    </a>
                    <i class="_1KncATpM" _1yl_Ow6o>
                       <span class="blind">Science of Software</span>
                    </i>
                    <img src="https://static-whale.pstatic.net/main/img_darkmode_v2@2x.png" width="303" height="49" alt style="padding-left:34px;">
                    <span class="_1syGnXOL _18YOHi7v _3jtl_dKE _3di88A4c"
                          data-clk="dropbanner1b"
                          style="padding-right: 10px; padding-left: 12px;">
                        <span> 계속 노력하는 건 중요하니까,</span>
                        <strong>잘할때까지 노력하기!</strong>
                    </span>
                </div>
            </div>
        </div>
        <div id="header" role="banner">
            <div class="special_bg">
                <div class="group_flex">
                    <div class="logo_area">
                        <h1 class="logo_special">
                            <img src="https://s.pstatic.net/static/www/mobile/edit/2021/0119/mobile_155311563134.png" width="415"
                            height="160" class="special_img" alt="대한">
                            <a href="https://search.naver.com/search.naver?where=nexearch&sm=top_brd&fbm=0&ie=utf8&query=%EC%A0%88%EA%B8%B0+%EB%8C%80%ED%95%9C"
                            class="special_logo_link" title="대한" data-clk="top.spe">

                            </a>
                        </h1>
                    </div>
                    <div id="search" class="search_area" data-clk-prefix="sch">
                        <form id="sform" name="sform" action="https://search.naver.com/search.naver"
                        method="get" role="search">
                            <fieldset>
                                <legned class="blind">검색</legned>
                                <select id="where" name="where" title="검색 범위 선택" class="blind"></select>
                                <div class="green_window" style="border-color: #e4aa6f;">
                                    <input id="query" name="query" type="text" title="검색어 입력" maxlength="255"
                                           class="input_text" tabindex="1" accesskey="s" style="ime-mode:activate;"
                                           autocomplete="off" placeholder="검색어를 입력해 주세요." onclick="document.getElementById('fbm').value=1;"
                                           value data-atcmp-element>
                                </div>
                                <button id="search_btn" type="submit" title="검색" tabindex="3" class="btn_sumit"
                                        onclick="window.nclick(this,'sch.action','','',event);" style="background-color: #e4aa6f">
                                    <span class="blind">검색</span>
                                    <span class="ico_search_submit"></span>
                                </button>
                            </fieldset>
                        </form>
                        <a href="#" id="ke_kbd_btn" role="button" class="btn_keyboard" onclick="return false;">
                            <span class="blind"> 노력은 재능을 이긴다 </span>
                            <span class="ico_keyboard"></span>
                        </a>
                        <div id="_nx_kbd" style="display:none;"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>